.Rproj.user
.Rhistory
.RData
.Ruserdata
articles
Data
-Brandon_Laptop.RHistory
-PC.RHistory
Presentations/
prcipitationsethydrographespourlacroche.zip
test_df.csv
Masters.sync-conflict-20251107-172328-67XC6VH.Rproj
Masters.sync-conflict-20251107-194238-67XC6VH.Rproj
